.container {
    margin-bottom: 50px;
}
.orange-bg {
    background-color: #fcae8f;
    border-radius: 10px;
}
.carousel-item {
    padding: 20px 40px;
}
.price {
    color: crimson;
}
.buy-now-button {
    background-image: linear-gradient(to bottom, crimson 0%, orange 100%);
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
}
.cat1, .cat2, .cat3 {
    padding: 10px 30px;
    border-radius: 10px;
}
.cat1 {
    background-image: linear-gradient(to right, orange 0%, crimson 100%);
}
.cat2 {
    background-image: linear-gradient(to right, skyblue 0%, blue 100%);
}
.cat3 {
    background-image: linear-gradient(to right, pink 0%, crimson 100%);
}
.categories h1 {
    color: #ffffff;
    border-bottom: 1px solid whitesmoke;
    border-width: 5px;
}
.card {
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgrey;
}
.card-footer {
    background-color: whitesmoke;
    border-top: none;
}
#subscribe {
    height: 300px;
}
#subscribe h6 {
    color: grey;
}
footer {
    text-align: center;
    font-size: 20px;
}
span {
    color: crimson;
}